:root {
  // Palette
  --accent: #5088ed;
  --ui-01: #fff;
  --ui-02: #ededed;
  --text-01: #4e4e4e;
  --text-02: #cdcdcd;
  --text-03: #fff;

  // Typefaces
  --system: sans-serif; // The mockup seems to use a system font (Helvetica for MacOS)
}
