// Pricing box breakpoints
$medium-screen: 900px;

// Play with margins and flexbox to make the left and right cards
// shorter and centered
.pricing_box {
  background-color: var(--ui-01);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
  padding: 2.75rem 2rem 2rem;
  width: 100%;

  @media (max-width: $medium-screen) {
    margin: 0;
  }

  &.mod-accent {
    background-color: var(--accent);
    color: var(--text-03);
    margin: 0;
  }
}

.pricing_box-plan {
  text-align: center;
}

.pricing_box-price {
  font-size: 3rem;
  margin-top: 1rem;
  text-align: center;
}

.pricing_box-price-frequency {
  color: var(--text-02);
  font-size: 1.5rem;
  margin-left: 0.25rem;
}

.pricing_box-features {
  margin: 1.5rem 0 2rem;
}

.pricing_box-features-item {
  border-bottom: 1px solid var(--ui-02);
  display: flex;
  font-size: 0.75rem;
  justify-content: space-between;
  padding: 1rem 0;

  // Remove the border from the last feature
  &:last-child {
    border: none;
  }
}

.pricing_box-features-item-label {
  color: var(--text-02);
}

// Turn the accent card's labels white
.pricing_box.mod-accent .pricing_box-features-item-label {
  color: var(--text-03);
}
